.jumbotron
{
	margin: 0px 0px 0px 0px;
}

.container_padding
{
	padding: 48px 15px 48px 15px;
}

.section_landing
{
	background-color: #2B7FDE; 
	color:#ffffff;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height:400px;
}

.text-center
{
	text-align:center;
}

.title
{
	text-align:center;
	font-size: 10vmax;
}

.nav
{
	text-align: center;
}

.Landing_page_buttons
{
	text-align:center;
	text-transform: uppercase;
	font-size:20px;
	color:#ffffff;
	padding: 10px;
}

 .Landing_page_buttons:hover
{
	/*background-color:rgba(0,0,0,0.3);*/
	color:#ffffff;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > [class^="col-"],
.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}